.mymenu .main-box{
    height: 520px;
}

.mymenu .session-box {
 margin-left: 10px;
}

.mymenu .launcher-box {
    margin-left: 10px;
}

.launcher-grid {
}


.launcher-area {
}

/*

.popup-menu .popup-menu-item.launcher-item {
     spacing: 0px; }
.popup-menu .popup-menu-item.launcher-item:ltr {
    padding: 0em; }
.popup-menu .popup-menu-item.launcher-item:rtl {
    padding: 0em; }
*/